src/test/resources/database/xsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="hibernate_demo">
	<xsd:import namespace="hibernate_demo" schemaLocation="hibernate_demo.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="dbmaintain_scripts" type="dflt:dbmaintain_scripts__type" />
				<xsd:element name="accounts" type="dflt:accounts__type" />
				<xsd:any namespace="hibernate_demo" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
